<% include elements/header %>
        <div id="current" class="grid_3">
            <div class="box">
                <h2><a href="/users">Current</a></h2>
                
            </div>
        </div>
        <div class="grid_3">
            <div class="box">
                <h2>Backlog</h2>
                (Empty)
            </div>
        </div>
        <div class="grid_3">
            <div class="box">
                <h2>Icebox</h2>
                (Empty)
            </div>
        </div>
        <div class="grid_3">
            <div class="box">
                <h2>My Stories</h2>
                (Empty)
            </div>
        </div>
<!--% include elements/footer.html %-->