        
        <div class="clear"></div>
        <div class="grid_12" id="site_info">
            <div class="box">
                <p>Agility, created by <a href="http://linkedin.com/in/wesleybliss/">Wesley Bliss</a>, a GAMMA GAMMA accomplice.</p>
            </div>
        </div>
        <div class="clear"></div>
        
    </div>
    
    <!-- Grab Google CDN's jQuery. Fall back to local if necessary -->
    <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="js/jquery-1.8.3.min.js"%3E%3C/script%3E'))</script>-->
    
    <!--<script type="text/javascript" src="js/foundation.min.js"></script>-->
    <script type="text/javascript" src="js/libs/underscore-min.js"></script>
    <script type="text/javascript" src="js/libs/backbone-min.js"></script>
    <script data-main="js/main" type="text/javascript" src="js/libs/require.js"></script>
    <!--<script type="text/javascript" src="js/app.js"></script>-->
    
</body>
</html>