<!DOCTYPE html>
<html lang-en>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Agility</title>
    <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic">
    <link rel="stylesheet" type="text/css" href="css/grid.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/nav.css" media="screen" />
    <!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
    <link rel="stylesheet" type="text/css" href="css/foundation_agility.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/agility.css" media="screen" />
    <script type="text/javascript" src="js/libs/modernizr.foundation.js"></script>
</head>
<body>
    
    <div id="page" class="container_12">
        
        <div class="grid_12">
            <h1 id="branding">
                <a href="">Agility</a>
            </h1>
        </div>
        <div class="clear"></div>
        <div class="grid_12">
            <h2 id="page-heading">Open source, agile task management, similar to Pivotal Tracker, written in Node.js and Bacbkbone.js.</h2>
        </div>
        
        <div class="clear"></div>
        